<title>Dashboard - inGallery</title>
<%- layout('layout/boilerplate') %>
<div class="bodyContainer">
  
<h1>User Dashbaord</h1>
<p>
  <h1><%= user.username %></h1>
  <h4><%= user.email %></h4>
  <h1><%= currentPage %></h1>
</p>
</div>

