<footer>
  <div class="footerContainer">
    <div class="footerLinks">
      <div class="ulContainer">
        <h1>Company</h1>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="ulContainer">
        <h1>Resources</h1>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy and Policy</a></li>
        </ul>
      </div>
      <div class="ulContainer">
        <h1>Contact</h1>
        <ul>
          <li><i class="fa-solid fa-phone"></i>+2349067150862</li>
          <li>
            <i class="fa-solid fa-envelope"></i>customerservice.ingallery.com
          </li>
        </ul>
      </div>
      <div class="ulContainer">
        <h1>Location</h1>
        <ul>
          <li>
            <i class="fa-solid fa-location-dot"></i>Opposite Civil Defense,
            Bomadi, Delta State, Nigeria
          </li>
        </ul>
      </div>
      <div class="ulContainer social">
        <h1>Social Media</h1>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i>linedIn</a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-square-instagram"></i>Instagram</a
            >
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-square-twitter"></i>Twitter</a>
          </li>
        </ul>
      </div>
      <div class="ulContainer">
        <h1>Subscribe</h1>
        <ul>
          <input type="email" placeholder="Email address here" />
          <button type="submit">
            <i class="fa-solid fa-bell"></i>Subscribe
          </button>
        </ul>
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="/assets/inGallery_logo_black.png" alt="logo" />
    <h2>
      2025, InGallery _- Browse millions of high-quality photos, illustrations
      and more...
    </h2>
  </div>
</footer>
