<nav>
  <div class="logo">
    <a href="/home"><img src="/img/inGallery_logo_black.png" alt="logo" /></a>
  </div>
  <div class="navLinks">
    <ul>
      <a href="/home"
        ><li id="<% if(currentPage === '/home'){ %>navActive<% } %>">
          Home
        </li></a
      >
      <a href="/explore"
        ><li id="<% if(currentPage === '/explore'){ %>navActive<% } %>">
          Explore
        </li></a
      >
      <% if(currentUser) {%>
      <a
        href="/user/dashboard"
        id="<% if(currentPage === '/dashboard'){ %>navActive<% } %>"
        ><li>Dashboard</li></a
      >
      <div class="hamborger">
        <div class="title">
          <a
            ><li>
              <button>
                <i class="fa-solid fa-user"></i>
                <div class="arrow">
                  <span><i class="fa-solid fa-chevron-up"></i></span>
                </div>
              </button></li
          ></a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <ul>
              <li id="header"><%= currentUser.username %></li>
              <a href="#"><li><%= currentUser.email %></li></a>
              <a href="#"><li>Account Setting</li></a>
              <a href="/logout"
                ><li>
                  <button id="logoutBtn">
                    <img
                      src="/img/exit.png"
                      alt="exit-icon"
                      id="exitIcon"
                    />Logout
                  </button>
                </li></a
              >
            </ul>
          </div>
        </div>
      </div>
      <% } else {%>
      <div class="hamborger">
        <div class="title">
          <a>
            <button>
              <i class="fa-solid fa-user"></i>
              <div class="arrow">
                <span><i class="fa-solid fa-chevron-up"></i></span>
              </div>
            </button>
          </a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <a href="/signup"
              ><li>
                <button id="<% if(currentPage === '/signup'){ %>active<% } %>">
                  <i class="fa-solid fa-plus"></i>Signup
                </button>
              </li></a
            >
            <a href="/login"
              ><li>
                <button id="<% if(currentPage === '/login'){ %>active<% } %>">
                  <i class="fa-solid fa-right-to-bracket"></i>Login
                </button>
              </li></a
            >
          </div>
        </div>
      </div>
      <% } %>
    </ul>
    <ul></ul>
  </div>
</nav>
