<div class="sideBar">
  <div id="contents">
    <a href="/user/upload" id="floatBtn"
      ><button
        class="paddingO"
        id="<% if(currentPage === '/user/upload'){ %>buttonActive<% } %>"
      >
        <i class="fa-solid fa-plus"></i> New
      </button>
    </a>
    <ul>
      <li>
        <a href="/user/dashboard"
          ><button
            id="<% if(currentPage === '/user/dashboard'){ %>buttonActive<% } %>"
          >
            <i class="fa-solid fa-house"></i> <span id="onlyText">Gallery</span>
          </button></a
        >
      </li>
      <li>
        <a href="/user/favorites"
          ><button
            id="<% if(currentPage === '/user/favorite'){ %>buttonActive<% } %>"
          >
            <i class="fa-solid fa-star"></i>
            <span id="onlyText">Favorites</span>
          </button></a
        >
      </li>
      <li>
        <a href="/user/wallet"
          ><button
            id="<% if(currentPage === '/user/wallet'){ %>buttonActive<% } %>"
          >
            <i class="fa-solid fa-credit-card"></i>
            <span id="onlyText">Wellet</span>
          </button></a
        >
      </li>
      <li>
        <a href="/user/activities"
          ><button
            id="<% if(currentPage === '/user/activities'){ %>buttonActive<% } %>"
          >
            <i class="fa-solid fa-square-poll-vertical"></i>
            <span id="onlyText">Activities</span>
          </button></a
        >
      </li>
      <li>
        <a href="/user/profile"
          ><button
            id="<% if(currentPage === '/user/profile'){ %>buttonActive<% } %>"
          >
            <i class="fa-solid fa-circle-user"></i>
            <span id="onlyText">Profile</span>
          </button></a
        >
      </li>
    </ul>
  </div>
</div>
