# Gradle files
.gradle/
build/

# Local configuration files
local.properties
gradle.properties

# Android Studio files
.idea/
*.iml

# Output APKs and build files
*.apk
*.ap_

# Keystore files (Sensitive! Keep these out of version control)
*.jks
*.keystore

# Capacitor/Node.js build outputs
node_modules/
dist/
*.log

/build-comands.txt

# System-specific files
.DS_Store  # macOS specific
Thumbs.db  # Windows specific

# Miscellaneous
*.swp  # Vim swap files
*.bak  # Backup files
*.swp  # Swap files
*.swo  # Swap files

.vscode
.vercel
