@media screen and (max-width: 600px) {
  .reveal {
    transform: translateY(2em);
    opacity: 0;
    transition: all 1s;
    z-index: -1;
  }
  .reveal.active {
    transform: none;
    transition: all 1s;
    opacity: 1;
    z-index: -1;
  }

  .revealRight {
    transform: translateX(-2em);
    opacity: 0;
    transition: all 1s;
    z-index: -1;
  }
  .revealRight.active {
    transform: none;
    transition: all 1s;
    opacity: 1;
    z-index: -1;
  }

  //error__________________________________
  .errPageContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 200px;
    }

    button {
      margin-top: 1em;
      border-radius: 0.3em;
      border: none;
      padding: 0.5em 1em;
      width: auto;
    }

    h1 {
      font-size: 20px;
    }
    p {
      padding-top: 0.4em;
      font-size: 15px;
    }
    span {
      font-style: italic;
      font-weight: 800;
    }
  }

  #alert {
    border-radius: 0.5em;
    width: auto;
    display: flex;
    padding: 0.7em 1em;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .msg {
      font-size: 15px;
    }
    button {
      display: flex;
      flex-direction: row;
      align-self: center;
      background: none;
      border: none;
      padding: 0;
      margin-left: 0.7em;
      // margin-right: 0.5em;

      i {
        font-size: 15px;
      }
    }
  }

  #floatAdd {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 0.5em;
    margin-bottom: 13vh;
    z-index: 80;

    button {
      -moz-box-shadow: 0 0 10px #2b2b2b;
      -webkit-box-shadow: 0 0 10px #2b2b2b;
      box-shadow: 0px 0px 10px #2b2b2b;
      background-color: var(--hoverGreen);
      font-size: 17px;
      padding: 0.7em 1.5em;
      text-align: left;
      color: #ffffff;
      width: auto;

      border-radius: 3em;
      transition: var(--transition);

      i {
        padding-right: 0.4em;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    align-items: center; /* Center items horizontally */
    margin: 0 auto; /* Center the container itself */
  }

  form {
    border-radius: 0.5em;
    display: block;
    margin: auto;
    width: 20em;

    #header {
      font-size: 25px;
      text-align: center;
    }

    div {
      margin-top: 0.8em;
      display: block;
    }

    input {
      border-radius: 0 0.5em 0.5em 0;
      border: none;
      padding: 0.5em;
      width: 100%;
    }
    .inputContainer {
      display: flex;
      flex-direction: row;

      i {
        display: flex;
        border-radius: 0.5em 0 0 0.5em;
        align-items: center;
        padding: 0.5em 1em;
      }
    }

    #input {
      padding-top: 0.8em;
    }

    .btns {
      margin: 0.5em 0em;
      display: block;

      button {
        margin-top: 0.5em;
        border-radius: 0.3em;
        border: none;
        padding: 0.5em 1em;
        width: 100%;
        margin-bottom: 0.5em;
      }
      i {
        padding-right: 0.4em;
      }
    }

    .terms {
      margin: auto;
      width: fit-content;
      display: flex;
      padding-top: 0.5em;

      input {
        width: 1em;
      }
      p {
        padding-left: 0.3em;
        font-size: 13px;
      }

      a {
        font-size: 13px;
      }
    }
  }

  #uploadForm {
    width: 95%;
    margin-top: 2em;
    margin-bottom: 3em;

    #uploadHeader {
      font-weight: 600;
      font-size: 20px;
    }

    .container2 {
      display: grid;
      grid-template-columns: 1fr;
    }

    #imgInput {
      display: block;
      input {
        margin-top: 0.5em;
        width: 20em;
      }

      #imgPreview {
        width: 20em;
        height: 15em;
        overflow: hidden;
        padding: 0.4em;

        img {
          width: 70%;
          object-fit: contain;
        }
      }
    }

    p {
      margin-top: 0.4em;
    }

    #noteTxt {
      font-size: 12px;
    }

    #description {
      width: 100%;
      padding: 0.4em;
      font-size: 14px;
    }

    label {
      font-size: 17px;
    }

    select {
      padding: 0.3em;
    }

    button {
      padding: 0.4em 0.7em;
      font-size: 16px;
      border-radius: 0.4em;
      margin-top: 0.5em;

      i {
        padding-right: 0.3em;
      }
    }
  }

  .noSidebar {
    display: block;
  }

  .noDisplay {
    margin-top: -0.5em;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .trueDisplay {
    display: none;
  }

  .theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-top: 0em;
    margin-right: 2em;
  }

  nav {
    z-index: 999;
    width: 100%;
    display: block;
    padding-bottom: 0em;
    position: fixed;
    height: auto;

    .logo {
      padding: 0.4em;
      display: grid;
      grid-template-columns: 1fr 1fr;

      img {
        width: 140px;
      }

      .navMenu {
        margin-right: 1em;
        i {
          font-size: 25px;
        }
      }
    }

    .navMenu {
      display: block;
    }

    .navLinks {
      margin-top: -44em;
      transition: var(--transition);
      padding: 0;
      opacity: 0;

      ul {
        width: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
      }
      li {
        line-height: 2em;
        padding-top: 1em;
        font-size: 15px;
        list-style: none;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0em;
        padding: 0;
        // padding: 0.5em;
        transition: none;
        text-decoration: none;
      }

      #navActive {
        padding: 0em 0.5em;
      }
    }

    .navLinksActive {
      transition: var(--transition);
      margin-top: 0em;
      opacity: 1;
    }

    .hamborger {
      margin: 0em;
      margin-top: 0em;
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        display: block;
        margin: 0;
        padding: 0;
      }
      li {
        margin: 0;
        font-size: 15px;
        list-style: none;
        line-height: 1em;
      }

      a {
        margin-left: 0;
        padding: 0;
        text-decoration: none;
      }

      .items {
        width: auto;
        position: relative;
        display: none;
        padding-top: 0em;
        margin-top: 0.5em;
      }
      .active {
        display: block;
      }

      .itemsContainer {
        border-radius: 0.3em;
        padding: 1em;

        i {
          padding-right: 1em;
        }

        li {
          width: 100%;
          button {
            border-radius: 0.3em;
            border: none;
            margin-top: 0.3em;
            padding: 0.5em 1em;
            width: 100%;
          }
        }
        a {
          margin-left: 0;
          padding-left: 0;
        }
      }

      .title {
        z-index: 10;
        margin-top: 0.3em;
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.5em 1em;
          cursor: pointer;
          margin-left: -0.5em;
          border-radius: 0.7em;
          border: none;

          .arrow {
            padding-left: 1em;
          }

          #userIcon {
            padding-right: 0em;
          }

          .arrowDown {
            transition: var(--transition);
            transform: rotateX(180deg);
          }
        }
      }

      #header {
        font-size: 30px;
      }
    }

    #logoutBtn {
      width: auto;
      display: flex;
      align-items: center;

      #exitIcon {
        padding-right: 0.3em;
      }
    }
  }
  .bodyContainer {
    padding-top: 2em;

    .gridContents {
      padding: 4em;
      h1 {
        text-align: left;
        font-size: 80px;
      }
      h3 {
        padding-top: 1em;
        text-align: left;
        font-size: 15px;
        margin: 0;

        span {
          font-size: 20px;
          padding: 0 0.2em;
        }
      }
    }
    #getBtn {
      width: 30vh;
      font-weight: 600;
      margin-top: 2em;
      border-radius: 0.3em;
      padding: 0.7em 1.3em;
      font-size: 19px;
    }

    #arrow {
      padding-left: 0.5em;
    }

    .gridContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .img {
        padding-left: 3em;
      }

      #gridImg {
        width: 550px;
      }

      .gridContents {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-right: 3em;
      }
    }
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1em 0.5em;
    padding-top: 8em;
    width: 100%;

    .text {
      margin: auto;
      width: 90%;
    }
    h1 {
      padding: 0;
      margin: 0;
      font-size: 35px;
      text-align: center;

      span {
        font-size: 40px;
        padding: 0 0.2em;
        text-align: center;
      }
    }

    #searchForm {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 95%;
      margin-top: 0.5em;

      input {
        font-size: 15px;
        padding: 0.5em;
      }
    }
    .category {
      margin-top: 0.8em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0.8em;
      row-gap: 0.8em;

      a {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .sectionTwo {
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-self: center;

    .grid {
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .img {
        margin: 0;
      }

      #gridImg {
        width: 400px;
      }

      .gridContents {
        width: 80vh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;

        ul {
          list-style: none;

          li {
            font-size: 15px;
            padding-left: 1.3em;
            font-weight: 300;
          }
        }

        #listHead {
          padding-top: 0.7em;
          font-size: 20px;
          font-weight: 600;
        }

        i {
          padding-right: 0.4em;
        }
      }
    }
  }

  .sectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em 25em;
    text-align: center;

    h1 {
      font-size: 70px;
      border-radius: 0.4em;
      padding: 0.4em;

      i {
        font-size: 60px;
        padding-right: 0.3em;
      }
    }
    h2 {
      padding-top: 1em;
      font-size: 20px;
    }
    h3 {
      margin-top: 1em;
      padding: 0.5em 1em;
      border-radius: 0.3em;
      font-weight: 200;
      font-size: 20px;
    }
    #getBtn {
      z-index: 10;
      width: auto;
      font-weight: 600;
      margin-top: 2em;
      border-radius: 0.3em;
      padding: 0.7em 1.3em;
      font-size: 19px;
    }
  }

  footer {
    height: auto;
    margin-bottom: 0;
    margin-top: 0vh;

    .footerContainer {
      padding: 1em;
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
    }

    .logo {
      padding-top: 2em;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.4em;
      border-radius: 0.5em;

      img {
        width: 100px;
      }

      h2 {
        margin-left: 0em;
        font-size: 12px;
        padding: 0.2em;
        text-align: center;
      }
    }

    .footerLinks {
      display: block;
    }

    h1 {
      font-size: 16px;
      margin-bottom: 0.5em;
    }
    .ulContainer {
      padding: 1em;
      margin-right: 0em;
    }

    ul {
      margin: 0;
      padding-left: 0em;
      list-style: none;

      li {
        line-height: 1.5em;
        font-size: 15px;
      }
    }
    a {
      text-decoration: none;
    }

    input {
      background: none;
      border-radius: 0.3em;
      font-size: 15px;
      padding: 0.7em;
    }

    button {
      background: none;
      border: none;
      padding: 1em;
      border-radius: 0.3em;
      margin-left: 0.2em;
      font-size: 12px;
    }
    i {
      padding-right: 0.4em;
    }
    .social {
      margin-left: 0em;
    }
  }

  //sidebar styles here ===========================================================
  .sideBar {
    margin: 0;
    padding: 0 1em;
    width: 0;
    height: auto;

    #contents {
      bottom: 0;
      left: 0;
      -webkit-backdrop-filter: var(--blur1);
      backdrop-filter: var(--blur1);
      background-color: var(--blurBg);
      border: none;

      height: auto;
      width: 100%;
      padding: 0.2em 0.5em;

      margin: 0;
      position: fixed;
      display: flex;
      z-index: 5;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    #floatBtn {
      display: none;
    }

    #topBtn {
      button {
        padding: 0.7em;
        text-align: center;
        width: auto;

        border-radius: 3em;
        transition: var(--transition);

        i {
          padding-right: 0em;
        }
      }
    }
    #onlyText {
      font-size: 10px;
    }
    ul {
      padding: 0;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        margin-top: 0;
        list-style: none;

        a {
          text-decoration: none;
          button {
            text-align: center;
            margin: 0;
            background: none;
            width: auto;
            border-radius: 0.4em;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5em 0.8em;

            i {
              font-size: 20px;
              padding: 0em;
              margin-bottom: 0.3em;
            }
          }
        }

        button {
          display: flex;
          align-items: center;
          flex-direction: row;
        }
      }
    }
  }

  .bodyContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    padding-top: 4em;

    .imgSection {
      height: auto;
      width: 100%;
      margin: 0;
      margin-left: 0em;
      padding: 0em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .topBar {
        z-index: 2;
        width: 100%;
        position: sticky;
        display: flex;
        flex-direction: column;
        padding: 1em 0em;
        padding-top: 3em;
        border-radius: 0.3em;

        h1 {
          font-size: 30px;
          padding: 0.5 0em;

          i {
            font-size: 40px;
          }
        }
      }

      .imageContainer {
        transition: var(--transition);
        margin-top: 1em;
        padding: 0.4em;
        width: 100%;
        padding-bottom: 5em;
        margin: 0;
        height: auto;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
        column-count: 3;
        row-gap: 0.3em;
        column-gap: 0.3em;
        justify-items: center;
        align-items: center;

        img {
          width: 100px;
          display: block;
          cursor: pointer;
          overflow: hidden;
          transition: transform 0.3s ease;
          border-radius: 0.4em;
        }

        .img {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          // break-inside: avoid;
          margin: auto;
          margin-bottom: 1em;
          // margin-right: 4em;
          border-radius: 0.3em;
          // overflow: hidden;

          transition: var(--transition);
          width: 100%;

          height: auto;

          &:hover {
            transform: scale(1.05);
            transition: var(--transition);
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
  }

  #imgPreview {
    height: auto;
    padding-top: 4em;
    margin: 0;
    position: relative;

    .topBar {
      padding: 1em;
      width: 99%;

      .controlIcons {
        ul {
          display: block;
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          list-style: none;
          display: inline-block;
          align-self: center;
          font-size: 13px;
        }
        i {
          margin-right: 0.1em;
          font-size: 20px;
        }
        #isPublished {
          padding: 1em;
          border-radius: 1em;
          cursor: not-allowed;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          opacity: 0.5;
        }

        #publishBtn {
          padding: 1em;
          border-radius: 1em;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }

        h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        #publish {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          margin: auto;
          padding-bottom: 0.5em;
        }
        .first {
          display: none;
        }
      }
    }
    .imgSection2 {
      width: 100%;
      padding-top: 0em;
      height: auto;

      .imgPreview {
        height: 70vh;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        // align-items: center;
        overflow: auto;
      }

      img {
        overflow: hidden;
        display: block;
        width: 15em;
        height: auto;
        transition: var(--transition);
        // object-fit: cover;
        pointer-events: none;
      }

      i {
        font-size: 25px;
        padding-right: 0em;
        padding-left: 0em;
      }

      button {
        background: none;
      }

      .footer {
        width: 100%;
        bottom: 0;
        margin-bottom: 7em;
        display: flex;
        position: fixed;

        padding: 2em 0;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          -webkit-backdrop-filter: var(--blur1);
          backdrop-filter: var(--blur1);
          background-color: var(--blurBg);
          padding: 1.5em;
          border-radius: 5em;

          #resetBtn {
            margin-left: 2em;
          }
          input {
            margin: 0 1em;
          }
        }
      }
    }
  }
  .noImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

    h1 {
      font-size: 30px;
    }
    p {
      padding-top: 0.5em;
      font-size: 15px;
    }
    #floatBtn {
      button {
        margin-top: 0.5em;
        font-size: 17px;
        padding: 0.7em 1.5em;
        text-align: left;
        width: auto;

        border-radius: 3em;
        transition: var(--transition);

        i {
          padding-right: 0.4em;
        }
      }
    }
  }

  .popUpBox {
    z-index: -10;
    transition: var(--transition);
    position: absolute;

    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    #popUpContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      padding: 1em 2em;
      border-radius: 0.5em;
      transition: var(--transition);
      // box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.1);
    }

    img {
      pointer-events: none;
      width: 100px;
      padding-bottom: 1em;
    }

    h3 {
      font-size: 10px;
      margin-bottom: 0.5em;
      text-align: center;
    }

    h2 {
      font-size: 17px;
      text-align: center;
    }

    .btns {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 60%;
      font-size: 15px;
      padding: 0.5em;

      a {
        border-radius: 0.3em;
        border: none;
        padding: 0.5em 1em;
        text-decoration: none;
        transition: var(--transition);
      }
    }
  }

  .activeBox {
    opacity: 1;
    z-index: 7;
    transition: ease-in 0.5s;
    display: block;
    // transform: scale(1.05);

    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    #popUpContent {
      transform: scale(1.07);
      transition: var(--transition);
    }
  }
  .imgHeader {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;

    h1 {
      padding-top: 0.5em;
    }
    .icons {
      width: 100%;
    }

    i {
      margin-right: 1em;
      font-size: 35px;
    }
  }

  .exploreImg {
    padding: 1em;
    .imgs {
      margin-top: 0;
      padding: 0em;
      width: auto;
      margin: auto;
      height: auto;
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
      column-count: 2;
      justify-items: center;
      column-gap: 0.2em;
      row-gap: 0.2em;
    }

    #imgContainer {
      padding: 0.4em;
      margin: 0;
      transition: var(--transition);

      &:hover {
        transform: scale(1.04);
        transition: var(--transition);
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      img {
        width: 100%;
        margin: 0;
        display: block;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease;
        border-radius: 0.4em;
      }
    }
  }

  #ExploreImgPreview {
    height: 100vh;
    padding-top: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .topBar {
      width: 100%;
      padding: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: auto;

      .first {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        align-items: center;

        i {
          font-size: 35px;
          // margin-right: 0.7em;
          transition: var(--transition);

          &:hover {
            transition: var(--transition);
          }
        }
      }
      .header {
        border-bottom: var(--border);
        padding: 0.5em 1em;
        padding: 0;
        font-size: 20px;
        text-align: center;
      }
      .controlIcons {
        width: 100%;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style: none;
            display: inline-block;
            align-self: center;
            margin-left: 0.5em;

            // padding-left: 2em;
            font-size: 30px;
          }

          i {
            margin-right: 0.5em;
            font-size: 20px;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          border-radius: 1em;
          padding: 0.5em 1em;
        }

        #info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-items: center;
          width: 6em;
          margin-left: 1em;
        }

        // .infoActive {
        //   display: block;
        // }

        .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 60%;
          margin: auto;

          #noPadding {
            padding: 0;
          }
        }
      }
    }
    #infoBtn {
    }

    #info {
      display: none;
    }

    .infoContainer {
      margin: auto;
      width: 25em;
      padding: 1em;
      border-radius: 0.3em;
      margin-top: 0em;

      h1 {
        text-transform: capitalize;
      }

      ol {
        padding-top: 0.7em;

        li {
          line-height: 1.5em;
          display: block;
          font-size: 13px;

          span {
            font-weight: 600px;
          }
        }
      }
    }

    .imgSection2 {
      width: 100%;
      width: 100%;
      padding-top: 0em;

      .imgPreview {
        height: 70vh;
        width: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: auto;
      }

      img {
        // overflow: hidden;
        display: block;
        width: 8em;
        transition: var(--transition);
        object-fit: cover;
        pointer-events: none;
      }

      i {
        font-size: 25px;
        padding-right: 1em;
        padding-left: 1em;
      }

      button {
        background: none;
      }
      .footer {
        width: 100%;
        padding-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .section2 {
      padding: 1em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 30px;
        padding: 0.5em 1em;
        border-bottom: var(--border);
      }

      .imgContainer {
        padding-top: 2em;
        transition: var(--transition);

        height: 70vh;
        width: 100%;
        overflow: auto;
        transition: var(--transition);
        // display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        column-count: 5;
        row-gap: 1em;
        column-gap: 1em;

        // border-radius: 0.4em;

        .img {
          height: auto;
          padding: 0.2em;
          // overflow: hidden;
        }

        img {
          overflow: hidden;

          width: 8em;
          cursor: pointer;
          transition: var(--transition);
          border-radius: 0.4em;

          &:hover {
            transform: scale(1.04);
            transition: var(--transition);
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .deletePopup {
    margin: 0;

    #popUpContent {
      padding: 1em 2em;
      width: 90%;
      overflow: hidden;
      margin: 0;
    }

    img {
      width: 80px;
      padding-bottom: 0.5em;
    }

    #imgInfo {
      padding-bottom: 0.4em;
      width: 100%;
      padding: 0.3em;
    }

    .btns {
      width: 80%;
    }
  }
}
