<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="icon" href="/assets/icons/favicon.png" type="image/png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Link manifest -->
    <link rel="manifest" href="/manifest.json" />

    <!-- PWA iOS support (optional but good) -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Favicon -->
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/cd82447c08.js"
      crossorigin="anonymous"
    ></script>
    <%- include('../partials/theme') %>
  </head>
  <body>
    <%- include('../partials/navBar') %> <%- body %>
    <script type="module" src="/assets/js/app.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
