<title>Home - inGallery</title> <%- layout('layout/boilerplate') %>

<div class="searchContainer">
  <div class="text">
    <h1>Search for your <span>Favourite</span> images</h1>
  </div>
  <form action="" id="searchForm">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search free Photos"
    />
    <button type="submit" id="submitBtn">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>

<div class="exploreImg">
  <div id="image-container" class="imgs">
    <% if (imgs.length) {%> <% for (let img of imgs){ %>
    <div id="imgContainer">
      <a href="/explore/<%= img._id %>"
        ><img src="<%= img.img.url %>" alt="<%= img.img.filename %>"
      /></a>
    </div>
    <% } %> <% } %>
  </div>
</div>
