<title>Home - inGallery</title> <%- layout('layout/boilerplate') %> <%
layout('layout/boilerplate') %>

<div class="searchContainer">
  <div class="text">
    <h1>Search for your <span>Favourite</span> images</h1>
  </div>
  <form action="" id="searchForm">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search free Photos"
    />
    <button type="submit" id="submitBtn">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
