<title>Home - inGallery</title> <%- layout('layout/boilerplate') %> <%
layout('layout/boilerplate') %>
<div class="bodyContainer">
  <div class="gridContainer">
    <div class="img">
      <img src="/img/Portfolio Update-amico.png" id="gridImg" alt="" />
    </div>
    <div class="gridContents"></div>
  </div>
</div>
