<title>Login - inGallery</title> <%- layout('layout/boilerplate') %>

<div class="container">
  <form action="/login" method="POST">
    <h1 id="header">Login</h1>
    <%- include('../partials/err') %>
    <div id="input">
      <label for="username">Username</label>
      <div class="inputContainer">
        <i class="fa-solid fa-user"></i>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="enter your username"
        />
      </div>
    </div>
    <div id="input">
      <label for="password">Password</label>
      <div class="inputContainer">
        <i class="fa-sharp fa-solid fa-key"></i>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="create a password"
        />
      </div>
    </div>
    <div class="btns">
      <button type="submit">
        <i class="fa-solid fa-right-to-bracket"></i>Login
      </button>
      <a href="/signup">i don't have an account!</a>
    </div>
  </form>
</div>
