<title>Login | inGallery</title>
<%- layout('layout/boilerplate') %>

<div class="container">
  <form action="/auth/login" method="POST">
    <h1 id="header">Login</h1>
    <%- include('../../partials/err') %>

    <div class="input">
      <label for="email">Email or Username</label>
      <div class="inputContainer">
        <i class="fa-solid fa-user"></i>
        <input
          type="text"
          name="identifier"
          id="email"
          placeholder="Enter your email or username"
          value="<%= typeof identifier !== 'undefined' ? identifier : '' %>"
        />
      </div>
    </div>

    <div id="passwordInput">
      <label for="password">Password</label>
      <div class="inputContainer">
        <i class="fa-sharp fa-solid fa-key"></i>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
      </div>
    </div>

    <div class="btns">
      <button type="submit">
        <i class="fa-solid fa-right-to-bracket"></i>Login
      </button>
      <a href="/auth/signup">I don't have an account!</a>
    </div>
  </form>
</div>
