<title>Home | inGallery</title> <%- layout('layout/boilerplate') %> <%
layout('layout/boilerplate') %>
<section class="bodyContainer" id="homePage">
  <div class="gridContainer">
    <div class="img">
      <img src="/assets/images/uploadgraphics.png" id="gridImg" alt="logo" />
    </div>
    <div class="gridContents">
      <h1>Easily store your Photos</h1>
      <h3>
        with our <span>Free,</span> Secure and easy-to-use Image Cloud Storage
        with ease.
      </h3>
      <a href="/auth/signup" id="getStarted">
        Get Started <i class="fa-solid fa-arrow-right" id="arrow"></i>
      </a>
    </div>
  </div>
</section>
<section class="sectionThree">
  <h1 class="revealRight">
    <i class="fa-solid fa-magnifying-glass"></i>Search Photos
  </h1>
  <h2 class="reveal">
    Never worry about where you can get free stock photos and also save and
    publish your photos whenever and anytime you want.
  </h2>
  <a href="/explore"
    ><button type="button" id="getBtn" class="reveal">
      Start Exploring <i class="fa-solid fa-arrow-right" id="arrow"></i></button
  ></a>
</section>
<section class="sectionTwo">
  <div class="grid">
    <div class="gridContents revealRight">
      <ul>
        <li id="listHead">
          <i class="fa-solid fa-circle-check"></i>24/7 access
          <ul>
            <li>Anytime, anywhere - access to all of your contents.</li>
          </ul>
        </li>
        <li id="listHead">
          <i class="fa-solid fa-circle-check"></i>Rich media support
          <ul>
            <li>An enhanced file preview.</li>
          </ul>
        </li>
        <li id="listHead">
          <i class="fa-solid fa-circle-check"></i>Unlimited capabilities
          <ul>
            <li>Unlimited file size, unlimited upload/download speed</li>
          </ul>
        </li>
        <li id="listHead">
          <i class="fa-solid fa-circle-check"></i>Easy and Secured image upload
          <ul>
            <li>
              Upload images from computer using the fastest and safer way.
            </li>
          </ul>
        </li>
        <li id="listHead">
          <i class="fa-solid fa-circle-check"></i>Share stats
          <ul>
            <li>Track how many people access the assets you share</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="img reveal">
      <img
        src="/assets/images/Secure Server-bro (1).png"
        id="gridImg"
        alt="server_image"
      />
    </div>
  </div>
</section>

<script>
  if ("serviceWorker" in navigator) {
    console.debug("Service Worker support detected in navigator.");
    navigator.serviceWorker
      .register("/public/assets/js/service-worker.js")
      .then(() => console.log("Service Worker Registered"))
      .catch((err) => {
        console.error("Service Worker Registration Failed:", err);
        console.debug("Error details:", err);
      });
  } else {
    console.debug("Service Worker not supported in this browser.");
  }
</script>

<script>
  window.$zoho = window.$zoho || {};
  $zoho.salesiq = $zoho.salesiq || { ready: function () {} };
</script>
<script
  id="zsiqscript"
  src="https://salesiq.zohopublic.com/widget?wc=siq39938bf71e5ddf66e6f56ee8e8295079b3dbcdf0d3a30f9fe8375a843d5ac36d"
  defer
></script>
