<%- layout('layout/boilerplate') %>
<div class="errPageContainer">
  <div class="text">
    <% if(err.status === 404) {%>
    <img
      src="/assets/404 error with people holding the numbers-bro.png"
      alt="404_error_image"
    />
    <p>URL: <span><%= fullUrl %></span></p>
    <p>please check the <span>url</span> and refresh this page</p>
    <% } else{%>
    <p><%= err.message %></p>
    <img
      src="/assets/500 Internal Server Error-bro.png"
      alt="500_error_image"
    />
    <% } %>
  </div>
  <a href="/home"
    ><button><i class="fa-solid fa-arrow-left"></i> Back to Homepage</button></a
  >
</div>
