<nav>
  <div class="logo">
    <a href="/home"
      ><img
        src="/assets/images/inGallery_logo_black.png"
        alt="logo"
        class="logo"
    /></a>
    <button id="installBtn" hidden class="btn install-btn">
      📲 Install App
    </button>
    <div class="noDisplay">
      <label class="theme-switch">
        <input type="checkbox" class="mode-toggle" />
        <span class="slider">
          <i class="icon sun"><i class="fa-solid fa-sun"></i></i>
          <i class="icon moon"><i class="fa-solid fa-moon"></i></i>
        </span>
      </label>
      <div class="navMenu">
        <span><i class="fa-solid fa-bars"></i></span>
      </div>
    </div>
  </div>
  <div class="navLinks">
    <ul>
      <a href="/home"
        ><li id="<% if(currentPage === '/home'){ %>navActive<% } %>">
          Home
        </li></a
      >
      <a href="/explore"
        ><li id="<% if(currentPage === '/explore'){ %>navActive<% } %>">
          Explore
        </li></a
      >
      <% if(currentUser) {%>
      <a href="/user/dashboard"
        ><li
          id="<% if(currentPage === '/user/dashboard' || currentPage === '/user/upload' || currentPage === '/user/dashboard/:id'  || currentPage === '/user/dashboard/:id' || currentPage === '/user/favorite' || currentPage === '/user/publish' || currentPage === '/user/account' || currentPage === '/user/profile'){ %>navActive<% } %>"
        >
          Dashboard
        </li></a
      >
      <div class="hamborger">
        <div class="title">
          <a
            ><li>
              <button>
                <i class="fa-solid fa-user"></i>
                <div class="arrow">
                  <span><i class="fa-solid fa-chevron-up"></i></span>
                </div>
              </button></li
          ></a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <ul>
              <h1 id="header"><%= currentUser.username %></h1>
              <a href="#"><li><%= currentUser.email %></li></a>
              <a href="#"><li>Account Setting</li></a>
              <a href="/auth/logout"
                ><li>
                  <button id="logoutBtn">
                    <img
                      src="/assets/images/exit.png"
                      alt="exit-icon"
                      id="exitIcon"
                    />Logout
                  </button>
                </li></a
              >
            </ul>
          </div>
        </div>
      </div>
      <% } else {%>
      <div class="hamborger">
        <div class="title">
          <a>
            <button>
              <i class="fa-solid fa-user"></i>
              <div class="arrow">
                <span><i class="fa-solid fa-chevron-up"></i></span>
              </div>
            </button>
          </a>
        </div>
        <div class="items">
          <div class="itemsContainer">
            <a href="/auth/signup"
              ><li>
                <button><i class="fa-solid fa-plus"></i>Signup</button>
              </li></a
            >
            <a href="/auth/login"
              ><li>
                <button>
                  <i class="fa-solid fa-right-to-bracket"></i>Login
                </button>
              </li></a
            >
          </div>
        </div>
      </div>
      <% } %>
      <div class="trueDisplay">
        <label class="theme-switch">
          <input type="checkbox" class="mode-toggle" />
          <span class="slider">
            <i class="icon sun"><i class="fa-solid fa-sun"></i></i>
            <i class="icon moon"><i class="fa-solid fa-moon"></i></i>
          </span>
        </label>
      </div>
    </ul>
  </div>
</nav>
