@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "variables";

* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--lightGray);
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  color: var(--color);
}

input {
  background-color: var(--backgroundColor);
}
select {
  background-color: var(--backgroundColor);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--lightGray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightGray);
  border-radius: 0.7em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--inputColor) inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: var(--color) !important;
}

#floatAdd {
  display: none;
}

body {
  background-color: var(--backgroundColor) !important;
  font-family: "Poppins", serif !important;
  width: 100%;
}

.noBackground {
  background: none;
}
#noBackground {
  background: none;
}

i {
  background: none;
}

a {
  cursor: pointer;
}
.reveal {
  transform: translateY(3em);
  opacity: 0;
  transition: all 1s;
  z-index: -1;
}
.reveal.active {
  transform: none;
  transition: all 1s;
  opacity: 1;
  z-index: -1;
}

// Alert Styling
#msg {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 20px;
  }

  // Success Alert
  &.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border-left: 5px solid #0f5132;

    .btn-close {
      background-color: transparent;
      color: #0f5132;
    }
  }

  // Error Alert
  &.alert-danger {
    background-color: #f8d7da;
    color: #842029;
    border-left: 5px solid #842029;

    .btn-close {
      background-color: transparent;
      color: #842029;
    }
  }

  // Close Button Styling
  .btn-close {
    font-size: 18px;
    padding: 10px;
    opacity: 0.7;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }

    i {
      font-size: 18px;
    }
  }
}

.revealRight {
  transform: translateX(-2em);
  opacity: 0;
  transition: all 1s;
  z-index: -1;
}
.revealRight.active {
  transform: none;
  transition: all 1s;
  opacity: 1;
  z-index: -1;
}

section {
  -webkit-backdrop-filter: var(--blur1);
  backdrop-filter: var(--blur1);
  background-color: var(--blurBg);
}

//error__________________________________
.errPageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 300px;
  }

  button {
    margin-top: 1em;
    background-color: var(--darkGreen);
    color: var(--color);
    border-radius: 0.3em;
    border: none;
    padding: 0.5em 1em;
    width: 100%;

    &:hover {
      background-color: var(--hoverGreen);
    }
  }

  i {
    padding-right: 0.4em;
  }

  h1 {
    font-size: 50px;
  }
  p {
    padding-top: 0.4em;
    font-size: 15px;
  }
  span {
    font-style: italic;
    font-weight: 800;
    color: #0000ff;
    text-decoration: underline;
  }
}

button {
  transition: var(--transition);
  border: none;
}

#alert {
  border-radius: 0.5em;
  width: auto;
  display: flex;
  padding: 0.7em 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .msg {
    font-size: 15px;
  }
  button {
    display: flex;
    flex-direction: row;
    align-self: center;
    background: none;
    border: none;
    padding: 0;
    margin-left: 0.7em;
    // margin-right: 0.5em;

    i {
      font-size: 15px;
    }
  }
}

// .alertSuccess {
//   border: var(--darkGreen) 1px solid;
//   background-color: var(--lightGreen);
// }
// .alertError {
//   border: var(--redBg) 1px solid;
//   background-color: var(--lightRed);
// }

.noDisplay {
  display: none;
}

.trueDisplay {
  display: flex;
}

// #activeDisplay {
//   display: flex;
// }

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-items: center; /* Center items horizontally */
  margin: 0 auto; /* Center the container itself */
}
#passwordError {
  color: var(--red);
  text-align: center;
  display: none;
}

form {
  border-radius: 0.5em;
  display: block;
  margin: auto;
  width: 20em;
  padding-top: 5em;

  #header {
    font-size: 25px;
    text-align: center;
    color: var(--color);
    font-weight: 600;
  }

  div {
    margin-top: 0.4em;
    display: block;
  }

  input {
    border-radius: 0 0.5em 0.5em 0;
    background-color: var(--backgroundColor);
    color: var(--color);
    border: none;
    padding: 0.5em;
    width: 100%;
  }
  .inputContainer {
    display: flex;
    flex-direction: row;
    border: var(--border);
    border-radius: 0.5em;

    i {
      background-color: var(--darkGreen);
      color: #ffffff;
      display: flex;
      border-radius: 0.5em 0 0 0.5em;
      align-items: center;
      padding: 0.5em 1em;
    }
  }

  #input {
    padding-top: 0.8em;
  }

  .btns {
    margin: 0.5em 0em;
    display: block;

    button {
      margin-top: 0.5em;
      background-color: var(--darkGreen);
      color: #ffffff;
      border-radius: 0.3em;
      border: none;
      padding: 0.5em 1em;
      width: 100%;
      margin-bottom: 0.5em;

      &:hover {
        background-color: var(--hoverGreen);
      }

      i {
        color: #fff;
      }
    }

    a {
      text-align: center;
      color: var(--);
    }
    i {
      padding-right: 0.4em;
    }
  }

  .terms {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;

    input {
      width: 1em;
    }
    p {
      padding-left: 0.3em;
      font-size: 13px;
      padding-top: 1.2em;
    }

    a {
      font-size: 13px;
    }
  }
}

#uploadForm {
  width: 50em;
  margin-top: 0;

  #uploadHeader {
    color: var(--color);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #imgInput {
    display: block;
    input {
      background-color: var(--backgroundColor);
      color: var(--color);
      margin-top: 0.5em;
      border: var(--border);
      width: 20em;
    }

    #imgPreview {
      width: 20em;
      height: 15em;
      border: 2px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 0.4em;

      img {
        width: 70%;
        object-fit: contain;
      }
    }
    .previewImput {
      border-radius: 0em;
    }
  }

  p {
    margin-top: 0.4em;
  }

  #noteTxt {
    font-size: 12px;
    font-style: italic;
  }

  #note {
    color: red;
  }

  #description {
    width: 100%;
    padding: 0.4em;
    font-size: 14px;
    background-color: var(--backgroundColor);
  }

  label {
    font-size: 17px;
  }

  select {
    background-color: var(--backgroundColor);
    padding: 0.3em;
  }

  button {
    background-color: var(--darkGreen);
    padding: 0.4em 0.7em;
    font-size: 16px;
    border-radius: 0.4em;
    margin-top: 0.5em;
    transition: var(--transition);
    border: var(--border);
    color: #fff;

    i {
      color: #fff;
      padding-right: 0.3em;
    }

    &:hover {
      background-color: var(--hoverGreen);
      transition: var(--transition);
    }
  }
}

#closeBtn {
  background-color: #104b10;
}

.noSidebar {
  display: none;
}

/* Switch container */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 0.5em;
  margin-left: 1em;
}

/* Hide default checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: var(--border);
  border-radius: 30px;
  transition: 0.4s;

  i {
    color: #fff;
  }
}

/* Moving circle */
.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 2px;
  background-color: #1b1a1d;
  border-radius: 50%;
  transition: 0.4s;
}

/* Icons */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.3s ease-in-out;
}

/* Sun icon (light mode) */
.sun {
  left: 8px;
  opacity: 1;
}

/* Moon icon (dark mode) */
.moon {
  right: 8px;
  opacity: 0;
}

/* When checkbox is checked (Dark Mode) */
input:checked + .slider {
  background-color: #1b1a1d;
}

input:checked + .slider::before {
  transform: translateX(30px);
  background-color: var(--toggle-circle);
}

/* Show moon, hide sun when dark mode */
input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}

nav {
  position: fixed;
  z-index: 800;
  padding: 0.2em;
  padding-bottom: 0;
  -webkit-backdrop-filter: var(--blur1);
  backdrop-filter: var(--blur1);
  background-color: var(--blurBg);

  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: auto;

  .logo {
    padding: 0.1em;
    padding-left: 1em;
    display: flex;

    img {
      width: 140px;
    }
  }

  .navMenu {
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 4em;
    margin-bottom: 0em;

    ul {
      display: flex;
      padding: 0;
    }
    li {
      font-size: 15px;
      list-style: none;
      padding: 0.4em 0.7em;
      transition: var(--transition);
      color: var(--color);

      &:hover {
        transition: var(--transition);
        color: #fff;
        border-radius: 0.4em;
        background-color: var(--hoverGreen);
      }
    }

    a {
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2em;
      // padding: 0.5em;
      transition: none;
      text-decoration: none;
    }

    #navActive {
      color: #fff;
      border-radius: 0.4em;
      transition: var(--transition);
      background-color: var(--hoverGreen);
    }
  }

  .hamborger {
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contents {
      display: flex;
    }

    ul {
      display: block;
    }
    li {
      padding: 0em;
      font-size: 15px;
      list-style: none;
    }

    a {
      margin-left: 0em;
      padding: 0;
      color: #000000;
      text-decoration: none;
    }

    .items {
      width: auto;
      position: absolute;
      display: none;
      padding-top: 3.5em;
    }
    .active {
      display: block;
    }

    .itemsContainer {
      z-index: 999;
      border: var(--border);
      background-color: var(--backgroundColor);
      backdrop-filter: var(--blur1);
      -webkit-backdrop-filter: var(--blur1);
      // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      border-radius: 0.3em;
      padding: 0.5em;

      #profileList {
        width: 20em;
      }

      .imgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        margin-top: 1em;
        margin-bottom: 1em;

        width: 10em;

        height: 10em;
        border: 3px solid var(--lightGreen);
        border-radius: 50%;
        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      i {
        padding-right: 1em;
      }

      li {
        width: 100%;
        button {
          background-color: var(--darkGreen);
          color: #fff;
          border-radius: 0.3em;
          border: none;
          margin-top: 0.3em;
          padding: 0.5em 1em;
          width: 100%;

          &:hover {
            background-color: var(--hoverGreen);
          }

          i {
            color: #fff;
          }
        }
        &:hover {
          background: none;
        }
      }
      a {
        margin-left: 0;
        padding-left: 0;
      }
    }
    .title {
      z-index: 10;
      margin-top: 0.3em;
      li {
        &:hover {
          background: none;
        }
      }
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em;
        cursor: pointer;
        background: none;
        border: var(--border);
        margin-left: -0.5em;
        border-radius: 3em;
        color: #000000;

        .arrow {
          transition: var(--transition);
          color: #000000;
          padding-left: 1em;
        }

        #userIcon {
          padding-right: 0em;
        }

        .arrowDown {
          transition: var(--transition);
          transform: rotateX(180deg);
        }
      }
    }

    #header {
      font-size: 30px;
    }
  }

  #logoutBtn {
    background-color: var(--red);
    width: auto;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #d80a0a;
    }

    #exitIcon {
      padding-right: 0.3em;
    }
  }
}
#active {
  background-color: var(--lightGreenHover);
}

.bodyContainer {
  padding-top: 4em;
  // padding-right: 7em;

  .gridContents {
    width: 90%;
    margin: auto;
    h1 {
      text-align: left;
      font-size: 70px;
      font-weight: 600;
    }
    h3 {
      padding-top: 1em;
      text-align: left;
      font-size: 15px;
      margin: 0;

      span {
        font-size: 20px;
        padding: 0 0.2em;
        border-bottom: 2px solid var(--lightGreen);
        color: var(--lightGreen);
      }
    }
  }

  a {
    text-decoration: none;
  }

  #getBtn {
    width: auto;
    font-weight: 600;
    color: #fff;
    background-color: var(--darkGreen);
    margin-top: 2em;
    border-radius: 0.3em;
    padding: 0.7em 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 19px;

    &:hover {
      background-color: var(--hoverGreen);
    }
  }

  #getStarted {
    z-index: 10;
    width: 10em;
    font-weight: 600;
    background-color: var(--darkGreen);
    margin-top: 2em;
    border-radius: 0.3em;
    padding: 0.7em 1.3em;
    font-size: 19px;
    color: #ffffff;
    transition: var(--transition);

    &:hover {
      color: #ffffff;
      transition: var(--transition);
      background-color: var(--hoverGreen);
    }
    i {
      color: #ffff;
    }
  }

  #arrow {
    padding-left: 0.5em;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img {
      padding-left: 3em;
    }

    #gridImg {
      width: 550px;
    }

    .gridContents {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-right: 3em;
    }
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  // background-image: url("/assets/gradient_4_16.jpg");
  // background-color: rgba(255, 255, 255, 0.589); /* Black with 50% opacity */
  // background-blend-mode: overlay;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  padding-top: 6em;
  padding-bottom: 0em;
  // border-bottom-right-radius: 40em;

  .text {
    margin: auto;
    padding: 0;
    width: 60em;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 0.3em;
    font-weight: 400;
    text-align: center;
    font-weight: 600;

    span {
      font-size: 60px;
      padding: 0 0.5em;
      text-align: center;
      border-bottom: 4px solid var(--lightGreen);
      font-weight: 600;
      color: var(--lightGreen);
    }
  }

  #searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: var(--border);
    border-radius: 0.4em;
    font-size: 20px;
    text-align: center;
    width: 40em;
    background-color: var(--inputColor);
    padding-top: 0em;

    input {
      border-radius: 0.4em 0 0 0.4em;
      font-size: 18px;

      padding: 0.6em;

      outline: none;
      text-align: left;
      background-color: var(--inputColor);
      color: var(--color);
    }

    #submitBtn {
      padding: 0.2em;
      font-size: 15px;
      color: var(--color);
      background: none;
      margin: 0.1em;

      i {
        color: var(--color);
        font-size: 20px;
        padding: 0 1em;
      }
    }
  }
  .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
    column-gap: 2em;
    row-gap: 0.4em;

    a {
      background-color: var(--gray);
      font-size: 14px;
      text-decoration: none;
      padding: 0.5em 1em;
      margin-left: 0;

      border-radius: 0.3em;
      transition: var(--transition);
      color: #ffffff;

      &:hover {
        transform: scale(1.1);
        transition: var(--transition);
        background-color: var(--darkGreen);
      }
    }

    .linkActive {
      transform: scale(1.1);
      transition: var(--transition);
      background-color: var(--darkGreen);
    }
  }
}

.sectionTwo {
  margin-top: 13em;
  border-radius: 0.5em;
  border: var(--border);
  width: 80%;
  margin: auto;
  height: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-self: center;

  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img {
      margin: 0;
    }

    #gridImg {
      width: 400px;
    }

    .gridContents {
      width: 90%;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-self: center;

      ul {
        list-style: none;

        li {
          font-size: 15px;
          padding-left: 1.3em;
          font-weight: 300;
          color: var(--grabBg);
        }
      }

      #listHead {
        padding-top: 0.7em;
        font-size: 20px;
        color: var(--color);
        font-weight: 600;
      }

      i {
        padding-right: 0.4em;
        // color: var(--darkGreen);
      }
    }
  }
}

.sectionThree {
  // background-color: var(--grabBg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7em 15%;
  width: 100%;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 70px;
    border: var(--border);
    border-radius: 0.4em;
    padding: 0.4em;

    i {
      font-size: 60px;
      padding-right: 0.3em;
      color: #fff;
    }
  }
  h2 {
    padding-top: 1em;
    font-size: 25px;
    color: var(--grabBg);
  }
  h3 {
    background-color: #fff;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    font-weight: 200;
    font-size: 20px;
  }
  a {
    width: auto;
  }
  #getBtn {
    z-index: 10;
    width: auto;
    font-weight: 600;
    background-color: var(--darkGreen);
    margin-top: 2em;
    border-radius: 0.3em;
    padding: 0.7em 1.3em;
    font-size: 19px;
    color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: var(--hoverGreen);
    }
  }
}

.blurBgLeft {
  position: absolute;
  z-index: -1;
  background-color: var(--grabBg);
  width: 50%;
  height: 50%;
  border-radius: 100em;
  margin-top: 5em;
  left: 0;
}

.blurBgCenter {
  position: absolute;
  z-index: -1;
  background-color: var(--grabBg);
  width: 10em;
  height: 5em;
  border-radius: 100em;
  margin: auto;
  margin-top: 5em;
  margin-left: 50%;
}

.blurBgRight {
  position: absolute;
  z-index: -1;
  background-color: var(--grabBg);
  width: 50%;
  height: 40%;
  border-radius: 100em;
  margin-top: 9em;
  right: 0;
}

footer {
  height: auto;
  margin-bottom: 0;
  margin-top: 7vh;

  -webkit-backdrop-filter: var(--blur1);
  backdrop-filter: var(--blur1);
  background-color: var(--blurBg);
  // color: #ffffff;

  .footerContainer {
    padding: 2em;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .logo {
    padding-top: 2em;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 0.5em;

    img {
      width: 100px;
    }

    h2 {
      margin-left: 1em;
      font-size: 12px;
      padding: 0.2em;
      color: var(--grabBg);
      font-weight: 400;
    }
  }

  .footerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 0.5em;
  }
  .ulContainer {
    padding-top: 3em;
  }

  ul {
    // padding-left: 1em;
    list-style: none;

    li {
      color: var(--grabBg);
      line-height: 2em;
      font-size: 14px;
    }
  }
  a {
    color: var(--grabBg);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    border: var(--border);
    background: none;
    border-radius: 0.3em;
    font-size: 13px;
    padding: 0.7em;
  }

  button {
    background: var(--darkGreen);
    color: #fff;
    padding: 0.7em 1em;
    border-radius: 0.3em;
    margin-left: 0.2em;
    font-size: 12px;

    &:hover {
      color: #fff;
      background-color: var(--hoverGreen);
    }

    i {
      color: #fff;
    }
  }
  i {
    padding-right: 0.4em;
    color: var(--grabBg);
    background: none;
  }
  .social {
    margin-left: 7em;
  }
}

#topBtn {
  display: none;
}

//sidebar styles here ===========================================================
.sideBar {
  // background-color: var(--lightGray);
  // border-right: var(--border);
  height: 100vh;
  width: 35vh;
  padding-top: 7em;
  margin: 0;
  display: flex;
  flex-direction: column;
  // align-items: left;
  justify-content: center;

  #contents {
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  #floatBtn {
    button {
      background-color: var(--darkGreen);
      font-size: 17px;
      padding: 0.7em 1.5em;
      text-align: left;
      color: #ffffff;
      width: auto;

      border-radius: 3em;
      transition: var(--transition);

      i {
        color: #fff;
        padding-right: 0.4em;
      }
    }
  }

  ul {
    padding-top: 2em;
    li {
      margin-top: 1em;
      list-style: none;
      a {
        text-decoration: none;
        button {
          font-size: 18px;
          padding: 0.7em 1em;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          background: none;
          width: 100%;
          margin: auto;
          transition: var(--transition);
          border-radius: 0.4em;
          // background-color: var(--gray);
          // border: var(--border);

          &:hover {
            background-color: var(--hoverGray);
            // transform: translateX(0.3em);
            transition: var(--transition);
            // i {
            //   color: #fff;
            // }

            // span {
            //   color: #fff;
            // }
          }

          span {
            color: var(--color);
          }

          i {
            color: var(--color);
            padding-right: 0.5em;
            font-size: 20px;
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

#buttonActive {
  background-color: var(--darkGreen);

  i {
    color: #fff;
  }

  span {
    color: #fff;
  }
}

.bodyContainer {
  height: 100vh;
  display: flex;
  width: 100%;
  // margin-left: 13em;
  // padding-top: 4em;

  .imgSection {
    height: 100vh;
    padding: 0.8em;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    .topBar {
      margin-top: -1em;
      z-index: 17;
      // background-color: #ffffffd0;
      // -webkit-backdrop-filter: blur(10px); /* For Safari */
      // backdrop-filter: blur(10px); /* Apply the blur effect */
      background-color: var(--backgroundColor);
      // border-bottom: var(--border);

      width: 100%;
      position: fixed;
      display: flex;
      padding-top: 1em;
      flex-direction: row;
      align-items: center;
      padding: 1.5em 2em;
      border-radius: 0em;

      h1 {
        font-size: 40px;
        color: var(--color);
        padding: 0.5 1em;
        font-weight: 600;

        i {
          font-size: 40px;
        }
      }
    }

    .imageContainer {
      transition: var(--transition);
      margin-top: 8em;
      padding: 3em 3em;
      width: auto;
      height: auto;
      // display: grid;
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
      column-count: 5;
      column-gap: 1em;

      img {
        width: 200px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease;
        border-radius: 0.4em;
      }

      .img {
        // background-color: var(--lightGreen);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // break-inside: avoid;
        margin-bottom: 1em;
        // margin-right: 4em;
        position: relative;
        border-radius: 0.3em;
        // overflow: hidden;

        transition: var(--transition);
        width: 100%;

        height: auto;

        &:hover {
          transform: scale(1.05);
          transition: var(--transition);
          // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
      p {
        font-size: 13px;
      }
    }
  }
}

#imgPreview {
  height: 100vh;
  padding-top: 4em;

  .topBar {
    padding: 1em;
    // background-color: var(--lightGray);
    width: 95%;
    margin: auto;

    .controlIcons {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        display: inline-block;
        align-self: center;

        // padding-left: 2em;
        font-size: 30px;
      }
      i {
        margin-right: 0.5em;
        font-size: 23px;
        color: var(--grabBg);
      }
      #isPublished {
        background-color: var(--darkGreen);
        transition: var(--transition);
        padding: 1em;
        color: #ffffff;
        border-radius: 1em;
        cursor: not-allowed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        font-size: 15px;

        i {
          font-size: 15px;
          color: #fff;
        }
      }

      #publishBtn {
        background-color: var(--darkGreen);
        transition: var(--transition);
        padding: 1em;
        color: #ffffff;
        border-radius: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        &:hover {
          background-color: var(--hoverGreen);
          transition: var(--transition);
        }

        i {
          font-size: 15px;
          color: #fff;
        }
      }

      h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
      }

      #publish {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        margin: auto;

        #noPadding {
          padding: 0;
        }
      }
      .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        align-items: center;

        h1 {
          padding: 0;
          margin: 0;
        }

        i {
          color: var(--lightGreen);

          margin-right: 1em;
          font-size: 50px;
          padding: 0;
          transition: var(--transition);

          &:hover {
            color: var(--hoverGreen);
            transition: var(--transition);
          }
        }
      }
    }

    #delete {
      color: var(--grabBg);
    }
  }
  .imgSection2 {
    width: 100%;
    padding-top: 0em;

    .imgPreview {
      height: 65vh;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      // align-items: center;
      overflow: auto;
    }

    .img {
      width: auto;
      height: auto;
      margin: auto;
    }

    img {
      // overflow: hidden;
      display: flex;
      flex-direction: column;
      display: block;
      width: 15em;
      height: auto;
      transition: var(--transition);
      // object-fit: cover;
      pointer-events: none;
    }

    input[type="range"] {
      -webkit-appearance: none; /* Remove default appearance */
      width: 8em; /* Full-width */
      height: 8px; /* Height of the slider */
      background: var(--grabBg); /* Background color */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Transparency */
      transition: opacity 0.2s; /* Transition for hover effect */
      border-radius: 50em;

      &:hover {
        opacity: 1; /* Full opacity on hover */
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Remove default appearance */
        appearance: none; /* Remove default appearance */
        width: 20px; /* Width of the thumb */
        height: 20px; /* Height of the thumb */
        border-radius: 50%; /* Round thumb */
        background: var(--darkGreen); /* Thumb color */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background 0.2s; /* Transition for hover effect */

        &:hover {
          background: var(--hoverGreen); /* Thumb color on hover */
        }
      }

      &::-moz-range-thumb {
        width: 25px; /* Width of the thumb */
        height: 25px; /* Height of the thumb */

        border-radius: 50%; /* Round thumb */
        background: var(--darkGreen); /* Thumb color */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background 0.2s; /* Transition for hover effect */

        &:hover {
          background: var(--hoverGreen); /* Thumb color on hover */
        }
      }
    }

    i {
      color: var(--grabBg);
      font-size: 25px;
      padding-right: 1em;
      padding-left: 1em;
    }

    #zoomIcons {
      button {
        background: none;
      }
    }

    // button {
    //   background: none;
    // }

    .footer {
      width: 100%;
      padding-top: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.noImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50em;

  h1 {
    font-size: 30px;
    color: var(--darkGreen);
  }
  p {
    padding-top: 0.5em;
    font-size: 15px;
    font-style: italic;
  }
  #floatBtn {
    button {
      margin-top: 0.5em;
      background-color: var(--hoverGreen);
      font-size: 17px;
      padding: 0.7em 1.5em;
      text-align: left;
      color: #ffffff;
      width: auto;

      border-radius: 3em;
      transition: var(--transition);

      i {
        padding-right: 0.4em;
        color: #fff;
      }
    }
  }
}

.popUpBox {
  z-index: -10;
  transition: var(--transition);
  position: fixed;
  -webkit-backdrop-filter: var(--blur1);
  backdrop-filter: var(--blur1);
  background-color: var(--blurBg);

  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #popUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: var(--backgroundColor);
    border: var(--border);
    transform: scale(0);
    transition: var(--transition);
    // box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    pointer-events: none;
    width: 100px;
    padding-bottom: 1em;
  }

  h3 {
    font-size: 10px;
    margin-bottom: 0.5em;
    color: var(--color);
  }

  h2 {
    font-weight: 600;
    font-size: 17px;
  }

  .btns {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    font-size: 15px;
    padding: 0.5em;

    a {
      background: var(--darkGreen);
      color: #ffff;
      border-radius: 0.3em;
      border: none;
      padding: 0.5em 1em;
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        background-color: var(--hoverGreen);
        transition: var(--transition);
      }
    }

    #closeButton {
      color: #ffffff;
      background-color: var(--redBg);

      &:hover {
        background-color: var(--red);
        transition: var(--transition);
      }
    }
  }
}

.activeBox {
  opacity: 1;
  z-index: 7;
  transition: ease-in 0.5s;
  display: block;
  // transform: scale(1.05);

  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #popUpContent {
    transform: scale(1.07);
    transition: var(--transition);
  }
}
.imgHeader {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: flex-start;

  h1 {
    padding-top: 0.5em;
  }

  i {
    color: var(--darkGreen);
    margin-right: 1em;
    font-size: 35px;
    transition: var(--transition);

    &:hover {
      color: var(--hoverGreen);
      transition: var(--transition);
    }
  }
}

.exploreImg {
  padding: 5em;
  .imgs {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    column-count: 4;
    column-gap: 1em;
  }

  #imgContainer {
    padding-top: 2em;
    transition: var(--transition);

    &:hover {
      transform: scale(1.04);
      transition: var(--transition);
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    img {
      width: 20em;
      border-radius: 0.4em;
    }
  }
}

#ExploreImgPreview {
  height: 100vh;
  padding-top: 4em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .topBar {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    // background-color: var(--lightGray);
    .first {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      align-items: center;

      i {
        color: var(--darkGreen);
        font-size: 35px;
        // margin-right: 0.7em;
        transition: var(--transition);

        &:hover {
          color: var(--hoverGreen);
          transition: var(--transition);
        }
      }
    }
    .header {
      border-bottom: 1px solid var(--grabBg);
      padding: 0.5em 1em;
      padding: 0;
      font-size: 20px;
      text-align: center;
    }
    .controlIcons {
      width: 100%;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          list-style: none;
          display: inline-block;
          align-self: center;
          margin-left: 0.5em;

          // padding-left: 2em;
          font-size: 30px;
        }

        i {
          margin-right: 0.5em;
          font-size: 20px;
          color: var(--darkGreen);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 1em;
        padding: 0.5em 1em;
      }

      #downloadBtn {
        background-color: var(--darkGreen);
        transition: var(--transition);
        color: #ffffff;

        &:hover {
          background-color: var(--hoverGreen);
          transition: var(--transition);
        }

        i {
          color: #fff;
        }
      }

      #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 6em;
        margin-left: 1em;
      }

      // .infoActive {
      //   display: block;
      // }

      .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: auto;

        #noPadding {
          padding: 0;
        }
      }
    }
  }
  #infoBtn {
    background-color: var(--lightGreen);
    transition: var(--transition);
    color: #000000;

    i {
      color: #000000;
    }
  }

  #info {
    display: none;
  }

  .infoContainer {
    background-color: var(--lightGreen);
    margin: auto;
    width: 25em;
    padding: 1em;
    border-radius: 0.3em;
    margin-top: 0em;

    h1 {
      text-transform: capitalize;
    }

    ol {
      padding-top: 0.7em;

      li {
        line-height: 1.5em;
        display: block;
        font-size: 13px;

        span {
          font-weight: 600px;
        }
      }
    }
  }

  .imgSection2 {
    width: 100%;
    width: 100%;
    padding-top: 0em;

    .imgPreview {
      height: 70vh;
      width: 100vh;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      overflow: auto;
    }

    img {
      // overflow: hidden;
      display: block;
      width: 15em;
      transition: var(--transition);
      object-fit: cover;
      pointer-events: none;
    }

    i {
      color: var(--hoverGreen);
      font-size: 25px;
      padding-right: 1em;
      padding-left: 1em;
    }

    button {
      background: none;
    }

    // input {
    //   background: var(--lightGreen);
    //   appearance: none;
    //   border-radius: 2em;
    //   width: auto;
    //   outline: none;

    //   -webkit-slider-thumb {
    //     -webkit-appearance: none;
    //     appearance: none;
    //     width: 15px;
    //     height: 15px;
    //     border-radius: 50%;
    //     background: var(--darkGreen);
    //     cursor: pointer;
    //   }
    // }
    .footer {
      width: 100%;
      padding-top: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .section2 {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 30px;
      padding: 0.5em 1em;
      border-bottom: 3px solid var(--grabBg);
    }

    .imgContainer {
      padding-top: 2em;
      transition: var(--transition);

      height: 70vh;
      width: 100%;
      overflow: auto;
      transition: var(--transition);
      // display: grid;
      grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      column-count: 5;
      row-gap: 1em;
      column-gap: 1em;

      // border-radius: 0.4em;

      .img {
        height: auto;
        padding: 0.2em;
        // overflow: hidden;
      }

      img {
        overflow: hidden;

        width: 8em;
        cursor: pointer;
        transition: var(--transition);
        border-radius: 0.4em;

        &:hover {
          transform: scale(1.04);
          transition: var(--transition);
          // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.deletePopup {
  z-index: -10;
  transition: var(--transition);
  position: absolute;
  -webkit-backdrop-filter: var(--blur1);
  backdrop-filter: var(--blur1);
  background-color: var(--blurBg);

  // background-color: #008a00;

  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #popUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: var(--backgroundColor);
    border: var(--border);
    transform: scale(0);
    transition: var(--transition);
    // box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    pointer-events: none;
    width: 100px;
    padding-bottom: 1em;
  }

  h4 {
    font-size: 10px;
    margin-bottom: 0.5em;
    color: var(--color);
    text-align: center;
  }

  h1 {
    font-size: 17px;
    color: var(--red);
    font-weight: 600;
    text-align: center;
  }

  // h2 {
  //   font-size: 12px;
  //   text-decoration: dashed;
  // }

  h3 {
    font-size: 10px;
    color: var(--color);
    display: flex;
    flex-direction: row;
    font-weight: 600;
  }

  p {
    font-weight: 400;
    padding-left: 0.3em;
    color: var(--color);
    font-size: 10px;
  }

  #imgInfo {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 0.4em;
    border-bottom: var(--border);
    width: 100%;
    padding: 1em 3em;
  }

  .btns {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    font-size: 15px;
    padding: 0.5em;

    a {
      background: var(--darkGreen);
      color: var(--darkGreen);
      border-radius: 0.3em;
      border: none;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #ffffff;
      transition: var(--transition);
      width: 5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--hoverGreen);
        transition: var(--transition);
      }
      #whiteIcon {
        color: #ffffff;
        font-size: 15px;
      }
    }

    #deleteYesBtn {
      color: #ffffff;
      background-color: var(--redBg);

      &:hover {
        background-color: var(--red);
        transition: var(--transition);
      }
    }
  }
}
.deleteActiveBox {
  opacity: 1;
  z-index: 10;
  transition: ease-in 0.5s;
  display: block;
  // transform: scale(1.05);

  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #popUpContent {
    transform: scale(1.07);
    transition: var(--transition);
  }
}
// .blurred-circle {
//   width: 100px; /* Or any desired size */
//   height: 100px; /* Or any desired size */
//   border-radius: 50%; /* Makes it a circle */
//   filter: blur(10px); /* Applies a blur effect */
//   background: radial-gradient(
//     circle at center,
//     var(--grabBg),
//     transparent
//   ); /* Or any gradient you want */
// }

.wallet {
  width: 100%;
  margin-right: 2em;
  margin-left: 2em;

  .swiper-container {
    width: 100%;
    max-width: 300px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }

  .btn i {
    margin-right: 5px;
  }

  .sec2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    ul {
      border: none;
      margin-bottom: 1em;

      li {
        margin: 0 1em;
      }
    }

    #myTabs {
      border-bottom: var(--border);
      padding: 0.5em 1em;
    }

    button {
      background: none;
      color: var(--color);
      transition: var(--transition);
      padding: 0.5em;
      border: none;
      border-radius: 0.4em;

      &:hover {
        transition: var(--transition);
        background-color: #00000062;

        color: var(--color);

        i {
          color: var(--color);
        }
      }

      i {
        color: var(--color);
      }
    }

    li .active {
      background-color: var(--darkGreen);
      color: #ffff;

      i {
        color: #ffff;
      }
    }
  }

  #walletHeader {
    font-size: 40px;
    color: var(--color);
    font-weight: 600;
    padding-bottom: 0.5em;
  }

  #subHeader {
    font-size: 15px;
  }

  .balanceSection {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 15px;
    display: flex;
    flex-direction: row;

    #currency {
      font-size: 15px;
    }
    img {
      padding-right: 0.5em;
    }

    span {
      font-size: 50px;
    }
  }

  #valueSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .currencySelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 2em;

    h3 {
      padding-right: 0.4em;
      font-size: 14px;
      padding-top: 0.5em;
    }

    select {
      border-radius: 0.4em;
      font-size: 14px;
    }
  }

  .txsSec2 {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-left: 10em;
    margin-right: 5em;
  }

  .txs {
    margin: auto;
    width: 90%;
    height: 30em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-right: 2em;
    // padding-top: 10em;
    // width: 50em;
    // padding: 2em;
    // padding-top: 0;

    .txItem {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0em;
    }
    #text {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    i {
      margin-right: 0.4em;
      font-size: 20px;
      background: var(--hoverGray);
      padding: 0.4em;
      border-radius: 5em;
    }

    .successful {
      color: var(--darkGreen);
    }

    h1 {
      font-size: 15px;
    }
  }

  #convertForm {
    display: flex;
    flex-direction: row;

    input {
      background-color: var(--inputColor);
      border-radius: 0;
    }

    button {
      background-color: var(--darkGreen);
      color: #fff;
    }
  }

  #header {
    color: var(--color);
    font-size: 25px;
    // padding-bottom: 0.5em;
  }

  caption {
    caption-side: top;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #444;
  }

  h6 {
    color: #535353;
    font-size: 12px;
  }

  .status-successful {
    color: var(--lightGreen);
  }

  .status-pending {
    color: #ffa600bb;
  }

  .status-failed {
    color: var(--red);
  }

  table {
    width: 100%;
    background: var(--backgroundColor);
    border: var(--border);
    border-radius: 1em;
    overflow: hidden;
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  thead {
    background: var(--darkGreen);
    color: #fff;
    text-align: left;
  }

  th {
    color: #fff;
  }

  th,
  td {
    padding: 12px 15px;
    border-bottom: var(--border);
  }

  .currency {
    font-weight: bold;
    color: var(--darkGreen);
  }
}

#addressForm {
  padding-top: 0em;

  display: flex;
  flex-direction: column;
  align-items: center;

  #contents {
    display: flex;
    flex-direction: row;
  }

  input {
    height: 2em;
    border: var(--border);
    border-radius: 5px 0 0 5px;
  }
  button {
    background-color: var(--darkGreen);
    color: #fff;
    border-radius: 0 5px 5px 0;
    // width: 2.5em;
    height: 2em;
    padding: 0 1em;
    // font-size: 10px;
  }
}

.swap-form {
  // background-color: #ffffff;
  // border: var(--border);
  border-radius: 12px;
  padding: 5px;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;

  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .inputs {
    display: flex;
    flex-direction: row;

    .convertIcon {
      padding-top: 1.4em;
      padding-right: 0.5em;
      padding-left: 0.5em;

      i {
        font-size: 30px;
        color: var(--color);
      }
    }
  }

  .space {
    padding: 0 1em;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--color);
  }

  #txsMsg {
    padding: 0.2em;
    margin: 0.5em 1em;
    margin-top: -1em;
    height: 3.5em;

    strong {
      color: #000000;
    }
  }

  input {
    width: 12em;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 14px;
    text-align: center;
    color: #666;
  }
  #convertBtn {
    width: 10em;
    padding: 10px;
    background-color: var(--darkGreen);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--hoverGreen);
    }

    i {
      margin-right: 0.5em;
      color: #fff;
    }
  }
}

#filterSort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: -1em;
  align-items: center;
  width: 20em;

  #contents {
    width: 100%;
    display: flex;
  }
  form {
    margin: 0;
    padding: 0;
    width: 10em;

    #contents {
      span {
        background-color: var(--backgroundColor);
        border: var(--border);
        color: var(--color);

        i {
          color: var(--color);
        }
      }
      select {
        font-size: 12px;
        color: var(--color);
        background-color: var(--backgroundColor);
        border: var(--border);

        option {
          color: var(--color);
          font-size: 12px;
        }
      }
    }
  }
  div {
    margin: 0;
  }
}

.noColor {
  background: none;
}

#profileImg {
  width: 150px;
  object-fit: fill;
}

.profileEdit {
  width: 100%;
  padding-right: 6em;

  .profileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      width: 20em;
      height: 30em;
    }

    #imgContainer {
      border: 3px solid var(--lightGreen);
      width: 20em;
      height: 20em;
      overflow: hidden;
      border-radius: 100em;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: fill;
        width: 104%;
        height: 100%;
        padding: 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    button {
      margin-left: 0.5em;
      margin-right: 0.5em;
      i {
        color: #fff;
        margin-right: 0.4em;
      }

      a {
        color: #fff;
      }
    }

    label {
      i {
        color: #fff;
        margin-right: 0.4em;
      }
    }
  }
}

.profileImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .imgContainer {
    border: 3px solid var(--lightGreen);
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.profile {
  .container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }
}
#installBtn {
  display: none;
}

.details {
  display: flex;
  flex-direction: column;

  .contents {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0em;
  }
  p {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0.5em;
    background-color: var(--backgroundColor);
    border: var(--border);
    border-radius: 0.4em;
    width: 28em;

    span {
      padding-left: 0.4em;
      font-weight: 400;
      color: var(--color);
    }
  }
}

.installOn {
  display: none;
}

.installOff {
  display: block;
}

.notification {
  padding-top: 0.4em;
  padding-left: 1em;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: 0;
  // justify-content: center;
  button {
    position: relative;
    border: var(--border);
    border-radius: 5em;

    #notificationBadge {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: var(--red);
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .noticeBox {
    position: absolute;
    top: 5em;
    width: 20.5em;
    height: 90vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    #myTabContent {
      margin-top: 0.5em;
      border: var(--border);
      border-radius: 1em;
      display: block;
      height: 75vh;
      width: 100%;
      background-color: var(--backgroundColor);
    }

    .msgContainer {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        border: var(--border);
        border-radius: 1em;
        display: block;
        background-color: var(--backgroundColor);
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0.5em;
        width: 100%;
        border: var(--border);

        li {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 0;
          border-radius: 4em;

          &:hover {
            background: none;
          }
        }

        button {
          background: none;
          color: var(--color);
          transition: var(--transition);
          padding-bottom: 1em;
          width: 5em;
          border: none;
          display: flex;
          font-size: 12px;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          i {
            font-size: 20px;
            color: var(--color);

            &:hover {
              color: var(--lightGreen);
            }
          }
        }
      }

      #myTabs {
        // border-bottom: var(--border);
        padding: 0.5em;
      }

      li .active {
        border-radius: 4em;
        color: var(--lightGreen);
        position: relative; // Needed for positioning the ::after element

        i {
          color: var(--lightGreen);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0.2em;
          left: 25%;
          width: 50%;
          height: 2px;
          background-color: var(--lightGreen);
          border-radius: 1em;
        }
      }
    }
  }
  .activeMessages {
    transform: translateX(-70%);
    transition: var(--transition);
  }
}

@import "mediaQueryStyle";
